<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.vjfernandez.memento">

    <application
        android:allowBackup="true"
        android:icon="@drawable/memento_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.RegisterActivity"/>
        <activity android:name=".activities.MenuActivity"/>
        <activity android:name=".activities.TimeTableActivity"/>
        <activity android:name=".activities.AttendanceActivity"/>
        <activity android:name=".activities.TutorialActivity"/>
        <activity android:name=".activities.GpaActivity"/>
        <activity android:name=".activities.TutorialUpdateActivity"/>
        <activity android:name=".activities.GpaUpdateActivity"/>
    </application>

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

</manifest>